body {
  background-color: turquoise;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 45px;
  color: #FE4164;
  text-align: center;
  padding-top: 100px;
  width: 100%;
}

#button {
  color: #FE4164;
  size: 30px;
  padding: 15px 30px;
  border: dotted 3px #FE4164;
  background: none;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  font-family: 'Orbitron', sans-serif;
  width: 100%;
}

#canvas {
  margin: 23px auto;
  border: dotted 2px #FE4164;
  justify-content: center;
  display: none;
}

.imagen {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
}

